#root {
  max-width: 1280px;
  position: relative;
}

.pic {
  margin: 0 auto;
  width: 98%;
  padding-top: 1rem;
  padding-left: 0.3rem;
  display: inline-block;
  position: fixed;
  top: 0;
}

.text {
  margin-right: 25rem;
}
